<p>structural-directives works!</p>

<!-- <h2 *ngIf="false">
    Hello To Angular Course
</h2>

<h2 *ngIf="displayName">
    Hello To Angular Course
</h2> -->

<!-- <div *ngIf="isLoggedIn; then thenBlock; else elseBlock">

</div>

<ng-template #elseBlock>
    <h2>
        Hello Guest
    </h2>
</ng-template>

<ng-template #thenBlock>
    <h2>
        Hello Abanoub
    </h2>
</ng-template> -->


<!-- <div [ngSwitch]="car">
    <div *ngSwitchCase="'TIPO'">You select TIPO car</div>
    <div *ngSwitchCase="'KIA'">You select KIA car</div>
    <div *ngSwitchCase="'LOGAN'">You select LOGAN car</div>
    <div *ngSwitchDefault>Pick a car again</div>
</div> -->

<div *ngFor="let item of colors; index as i">
   {{i}}- {{item}}
</div>




